<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title th:text="${title}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="card mt-3">
        <div class="card-header">
            500 Exception
        </div>
        <div class="card-body">
            <h5 class="card-title">Exception msg</h5>
            <p th:text="${className}"></p>
            <p th:text="${msg}"></p>
        </div>
    </div>

</th:block>

</body>
</html>
