<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title th:text="${title}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="card mt-3">
        <div class="card-header">
            Test
        </div>
        <div class="card-body">
            <h5 class="card-title">Test 관리</h5>
            <p class="card-text">Test 처리에 대한 문서 입니다.</p>
        </div>
    </div>
    <p class="mt-3">jUnit을 활용한 TEST 코드 입니다. </p>
    <pre><code>
    @RunWith(SpringRunner.class)
    @AutoConfigureMockMvc
    @SpringBootTest
    public class FileUploadTests {
        @Autowired
        private MockMvc mvc;

        @MockBean
        private StorageService storageService;

        @Test
        public void shouldListAllFiles() throws Exception {
            given(this.storageService.loadAll())
                    .willReturn(Stream.of(Paths.get("first.txt"), Paths.get("second.txt")));

            this.mvc.perform(get("/")).andExpect(status().isOk())
                    .andExpect(model().attribute("files",
                            Matchers.contains("http://localhost/files/first.txt",
                                    "http://localhost/files/second.txt")));
        }

        @Test
        public void shouldSaveUploadedFile() throws Exception {
            MockMultipartFile multipartFile = new MockMultipartFile("file", "test.txt",
                    "text/plain", "Spring Framework".getBytes());
            this.mvc.perform(fileUpload("/").file(multipartFile))
                    .andExpect(status().isFound())
                    .andExpect(header().string("Location", "/"));

            then(this.storageService).should().store(multipartFile);
        }

        @SuppressWarnings("unchecked")
        @Test
        public void should404WhenMissingFile() throws Exception {
            given(this.storageService.loadAsResource("test.txt"))
                    .willThrow(StorageFileNotFoundException.class);

            this.mvc.perform(get("/files/test.txt")).andExpect(status().isNotFound());
        }
    }

    </code></pre>

</th:block>

</body>
</html>

